@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@100;200;300;400;500;600;700&family=EB+Garamond:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700");

.text-pink { color: #FB6F92;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Gupter", "EB Garamond", "Lexend Deca", sans-serif;
  background-image: url("../images/peace.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  text-align: center; 
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  max-height: 490px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-bg {
  background-color: #ffc2d1;
}

h1, h3 {
  text-shadow: 0 0 10px white, 0 0 20px white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.btn-pink:hover {
  background-color: #FB6F92;
  border-color: #fff;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: #333;
  color: #fff;
}