@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@100;200;300;400;500;600;700&family=EB+Garamond:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700");

.text-pink { color: #FB6F92;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Gupter", "EB Garamond", "Lexend Deca", sans-serif;
  background-image: url("../images/peace.jpg");
  background-size: cover;
  background-position: center;
}

footer {
  background-color: #333;
  color: #fff;
}