@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@100;200;300;400;500;600;700&family=EB+Garamond:wght@100;200;300;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700");

/* Header Styling */

.text-black {
  color: hsl(57, 82%, 4%);;
  text-align: center;
}

.nav-tabs .nav-link {
  color: #d718f0;
}

.nav-tabs .nav-link:hover {
  color: purple;
}

.nav-tabs {
  border-bottom: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

/* Body Styling */

body {
  font-family: "Gupter", "EB Garamond", "Lexend Deca", sans-serif;
  background-image: url("../images/sunrise.jpg");
  background-size: cover;
  background-position: center;
}

/* Card Styling */

.card {
  text-align: center;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  max-height: 490px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 300px;
  object-fit: cover;
}

.custom-bg {
  background-color: #ffc2d1;
}

h1,
h2 {
  text-shadow: 0 0 10px white, 0 0 20px white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.btn-purple:hover {
  background-color: #d718f0;
  border-color: #fff;
}

/* Footer Styling */

footer {
  margin-top: auto;
  text-align: center;
  background-color: #333;
  color: #d718f0 !important;
}

footer a {
  color: #d718f0;
  transition: color 0.3s ease-in-out;
}

footer a:hover {
  color: #fff !important;
}

footer .social-icon i {
  color: #d718f0 !important;
}
